/* RESET */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* GENERAL */

body {
  color: #15202a;
  font-family: "Libre Franklin", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  text-align: center;
  display: grid;
  place-items: center;
  padding: 5.06rem 1.72rem 2.31rem 1.72rem;
}

@media (min-width: 39.8125rem) {
  body {
    padding: 5rem 1.72rem 3.06rem 1.72rem;
  }
}

.container {
  max-width: 39.8125rem;
}

/* UTILITY */

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}

/* HEADER */

header {
  margin-bottom: 2rem;
}

@media (min-width: 39.8125rem) {
  header {
    margin-bottom: 2.5rem;
  }
}

.header__logo {
  width: 3.5rem;
  margin: 0 auto;
}

@media (min-width: 39.8125rem) {
  .header__logo {
    width: unset;
  }
}

/* MAIN */

main {
  margin-bottom: 4.5rem;
}

.main__title {
  color: #595959;
  font-size: 1.375rem;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 0.94rem;
}

@media (min-width: 39.8125rem) {
  .main__title {
    font-size: 3rem;
    line-height: 3.75rem;
    margin-bottom: 1rem;
  }
}

.title__highlight {
  color: #15202a;
}

.main__text {
  margin-bottom: 2rem;
}

@media (min-width: 39.8125rem) {
  .main__text {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
  }
}

.main__form {
  display: flex;
  flex-direction: column;
  gap: 0.62rem;
  margin: 0 1.19rem 2.5rem 1.19rem;
}

@media (min-width: 39.8125rem) {
  .main__form {
    position: relative;
    flex-direction: row;
    margin: 0 0 5.87rem 0;
  }
}

.form__input {
  line-height: 1.25rem;
  border-radius: 1.75rem;
  border: 1px solid #c2d3ff;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0);
  padding: 0.62rem 2rem;
}

@media (min-width: 39.8125rem) {
  .form__input {
    font-size: 1rem;
    padding: 1.13rem 1.88rem;
    flex: 4;
  }
}

.form__input::placeholder {
  color: #b8c7ed;
}

.msg {
  font-style: italic;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.25rem;
  letter-spacing: 0.00781rem;
}

@media (min-width: 39.8125rem) {
  .msg {
    font-size: 0.75rem;
    letter-spacing: 0.00938rem;
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: left;
    margin: 0.38rem 0 0 1.87rem;
  }
}

.msg--error {
  display: none;
  color: #ff5466;
}

.msg--success {
  display: none;
  color: #2bcc76;
}

.form__btn {
  background-color: #0c44e4;
  color: #fff;
  font-weight: 600;
  line-height: 1rem;
  border: none;
  border-radius: 1.75rem;
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
  padding: 0.75rem 0;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

@media (min-width: 39.8125rem) {
  .form__btn {
    font-size: 1rem;
    line-height: normal;
    flex: 2;
  }
}

.form__btn:is(:hover, :focus) {
  opacity: 0.8;
}

/* FOOTER */

.footer__socials {
  display: flex;
  justify-content: center;
  gap: 0.78rem;
  list-style: none;
  margin-bottom: 1.69rem;
}

@media (min-width: 39.8125rem) {
  .footer__socials {
    margin-bottom: 1.56rem;
  }
}

.social-link {
  color: #0c44e4;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(76, 123, 243, 0.15);
  border-radius: 50%;
  padding: 0.5rem;
  transition: color 0.2s, background-color 0.2s;
}

.social-link:is(:hover, :focus) {
  background-color: #0c44e4;
  color: #fff;
}

.footer__copyright {
  color: #595959;
}

@media (min-width: 39.8125rem) {
  .footer__copyright {
    font-size: 0.9rem;
  }
}
